# Cadenas o strings

En Python las cadenas son definidas como listas de caracteres, por lo que es posible aplicarles rebanado y las demás operaciones que vimos en la sección anterior.

Una cadena se puede formar usando comillas dobles o sencillas, de la siguiente manera:

In [1]:
fruta = "banano"

In [2]:
dulce = 'bocadillo'

En este caso, los operadores + y * dan los siguientes resultados:

| Operación | Uso             | Resultado                                         
| --------- | --------------- | --------- 
|    +      | cadena + cadena | Une dos cadenas                                   
|    \*     | cadena * número | Repite una cadena tantas veces como sea el número 

Con las dos variables arriba definidas podemos realizar, por ejemplo, las
siguientes operaciones:

In [3]:
fruta + dulce

'bananobocadillo'

In [4]:
fruta * 3

'bananobananobanano'

In [5]:
dulce[0]

'b'

In [6]:
dulce[:7]

'bocadil'

Sin embargo, las cadenas no pueden ser modificadas, es decir, no les puede asignar nuevos elementos como a las listas y por tanto son inmutables. Esto lo podemos constatar a continuación:

In [7]:
fruta[2] = 'z'

TypeError: 'str' object does not support item assignment

Las cadenas tienen varios métodos que pueden ser de gran utilidad. A ellos se puede acceder colocando un punto después del nombre de la variable a la que se le haya asignado una cadena y oprimiendo la tecla <kbd>Tab</kbd>. Por ejemplo, si después de `fruta` colocamos un punto, veremos que aparece:

In [ ]:
fruta.find('o')

5

**Nota**: *Ninguno* de estos métodos *modifican* a la cadena original, pues como ya dijimos, las cadenas son inmutables.

Entre estos métodos, vamos a mirar que comportamiento tienen los siguientes:

* **upper**: Convierte toda la cadena en mayúsculas

In [ ]:
fruta.upper()

'BANANO'

* **count**: Cuenta cuantas veces se repite un carácter en una cadena

In [ ]:
fruta.count('a')

2

* **replace**: Reemplaza un carácter o parte de una cadena por otro carácter o cadena

In [ ]:
fruta.replace('a', 'o')

'bonono'

In [ ]:
fruta.replace('ban', 'en')

'enano'

* **split**: Divide una cadena según los espacios que tenga y genera una lista de palabras.

In [ ]:
s = "Hola, mundo!"

In [ ]:
s.split()

['Hola,', 'mundo!']

También puede dividir una cadena por un determinado carácter para partirla en varias subcadenas:

In [8]:
fruta.split('n')

['ba', 'a', 'o']

## Problemas

### Problema 1

Tomar la variable `dulce`, hacer que se repita 50 veces, y separar las palabras con un espacio, de tal forma que obtengamos algo como lo siguiente, pero **sin** generar un espacio al final.

        'bocadillo bocadillo ...'

In [ ]:
temp = dulce+' '
temp*50

'bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo bocadillo '

### Problema 2

¿Cuántas veces se repite la palabra `banano` en la siguiente cadena?:

*Respuesta*:

    150

### Problema 3

Cuántas veces se repite `banano` en la cadena anterior, sin importar si algunas de sus letras están en mayúsculas o no?

*Respuesta*:

    239

In [ ]:
# Escribir la solución aquí

### Problema 4

¿Qué produce el método `center`?

Experimentar con los siguientes comandos para ver que produce:

In [ ]:
dulce.center(2)

'bocadillo'

In [ ]:
dulce.center(10)

'bocadillo '

In [ ]:
dulce.center(16)

'   bocadillo    '

In [ ]:
dulce.center(30)

'          bocadillo           '

# Tuplas

Una tupla es un arreglo **inmutable** de distintos tipos de datos. Es decir, es como si fuera una lista y tiene sus mismas propiedades, pero al igual que las cadenas, no es posible modificar ninguno de sus valores.

Las tuplas se definen con paréntesis `( )` en lugar de corchetes. Un ejemplo de tupla sería:

In [ ]:
tp = (1, 2, 3, 4, 'a')

In [ ]:
tp[3]

4

In [ ]:
tp[-1]

'a'

In [ ]:
tp[2:]

(3, 4, 'a')

Pero no podemos modificar sus valores mediante nuevas asignaciones:

In [ ]:
tp[2] = 'b'

TypeError: 'tuple' object does not support item assignment

**Nota**: Es posible omitir los paréntesis al momento de definir una tupla si así se desea, lo cual es una práctica bastante extendida entre los programadores de Python. Por ejemplo, una asignación válida es:

In [ ]:
tp1 = 'a', 'b', 2

In [ ]:
sum(tp1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Problemas

### Problema 1

¿Es posible calcular el promedio a la lista de la siguiente tupla?

In [ ]:
li = (3, 18, 17, 44, 14, 12, 29, 19, 4, 6, 17, 7, 14, 6, 8, 17, 17, 21, 65,\
      19, 10, 31, 92, 17, 5, 15, 3, 14, 20, 12, 29, 57, 15, 2, 17, 1, 6, 17, 2,\
      71, 12, 11, 62, 14, 9, 20, 43, 19, 4, 15)

In [ ]:
sum(li)/float(len(li))

20.04

### Problema 2

Crear una tupla que tenga un sólo elemento

In [ ]:
tu = (5)
tu

5

### Problema 3

¿Qué efecto tiene esta operación

In [ ]:
x, y, z = tp1 
tp1

('a', 'b', 2)

dado el valor de `tp1` definido arriba?

### Problema 4

¿Por qué, en cambio, esta operación falla?

In [ ]:
u, v, z = tp1
tp1

('a', 'b', 2)

### Problema 5

¿Cómo se calcula el máximo de una tupla?

In [ ]:
max(li)

92

# Diccionarios

Los diccionarios son una estructura de datos muy usada en Python. Ya hemos visto que los elementos de listas, cadenas y tuplas están indexados por números, es decir, `li[0]`, `fruta[1]` o `tp[2]`. En su lugar, los diccionarios están indexados por *claves* (o *keys* en inglés), que pueden ser no sólo números, sino también cadenas, tuplas o cualquier otro tipo de datos que sea **inmutable**.

Lo interesante de los diccionarios es que nos sirven para relacionar dos tipos distintos de datos: las claves con sus *valores* (o *values* en inglés), que pueden ser mutables o inmutables.

Por ejemplo, supongamos que queremos guardar los códigos que varias personas están utilizando para entrar a un servicio web. Esto lo podemos hacer muy fácilmente con un diccionario, en el que las claves sean el nombre de cada persona y sus valores sean las contraseñas que estén usando.

Para ello, en Python podemos escribir algo como:

In [ ]:
codigos = {'Luis': 2257, 'Juan': 9739, 'Carlos': 5591}

Como podemos ver, los diccionarios se definen con llaves (`{ }`). Las *claves*
son los elementos que están a la izquierda de los `:`, mientras que los que
están a la derecha son los *valores*.

Como ya se mencionó, para extraer un elemento de un diccionario es necesario usar alguna de sus claves. En nuestro caso, las claves son los nombres de las personas. Por ejemplo, para extraer el código que le corresponde a `Carlos` debemos escribir:

In [ ]:
codigos['Carlos']

5591

o para el de `Juan`

In [ ]:
codigos['Juan']

9739

Si alguien cambia de contraseña, podemos actualizar nuestro diccionario fácilmente haciendo una nueva asignación, por ejemplo:

In [ ]:
codigos['Luis'] = 1627

In [ ]:
codigos

{'Luis': 1627, 'Juan': 9739, 'Carlos': 5591}

**Nota**: Los diccionarios no tienen un orden interno por defecto. En el último ejemplo podemos ver como `'Luis'` aparece al final del diccionario,  mientras que en la primera definición de `códigos` aparecía al principio. No hay que preocuparse por ello.

O si una persona se retira del servicio, podemos eliminarla del diccionario
usando el siguiente comando:

In [ ]:
codigos.pop('Juan')

9739

In [ ]:
codigos

{'Luis': 1627, 'Carlos': 5591}

Si queremos introducir el nombre y la contraseña de una nueva persona, sólo es
necesario usar una nueva clave y asignarle un valor, así

In [ ]:
codigos['Jorge'] = 6621

In [ ]:
codigos

{'Luis': 1627, 'Carlos': 5591, 'Jorge': 6621}

Para saber si una persona ya está en el diccionario o no, usamos el siguiente
método:

In [ ]:
'Carlos' in codigos.keys()

True

In [ ]:
'José' in codigos.keys()

False

Finalmente, para extraer todas las claves y los valores de un diccionario podemos usar los siguientes métodos:

In [ ]:
codigos.keys()

dict_keys(['Luis', 'Carlos', 'Jorge'])

In [ ]:
codigos.values()

dict_values([1627, 5591, 6621])

## Problemas

### Problema 1

Definir un diccionario que represente una función que sólo puede tomar los valores del producto cartesiano de los conjuntos $\{0\}$ con
$\{1\}$ (i.e. $\{0, 0\}$, $\{0, 1\}$, etc), y que retorna el segundo valor de cada tupla.

In [ ]:
dicc= {0: 0, 0: 1, 1: 0}
dicc

{0: 1, 1: 0}

### Problema 2

Una forma eficiente de definir y evaluar polinomios, es a través de un diccionario. En éste las claves corresponden a las potencias del polinomio y sus valores al coeficiente de la potencia correspondiente.

Por ejemplo, el polinomio $5x^{2} - x + 3$ corresponde al diccionario:
    
```python
{0: 3, 1: -1, 2: 5}
```
    
Definir un diccionario para el polinomio $4x^{7} - 2x^{3} + 3x$ y obtener cuál es su valor cuando $x = 2$, usando el diccionario (Tomado de *A Primer on Scientific Programming with Python*, de Hans Petter Langtangen)

*Respuesta*
    
    502

In [ ]:
squares = {x: 4*x**7-2*x**3+3*x for x in range(15)}
squares
squares[2]

502

# Conversión entre tipos de datos

Para convertir entre unos y otros tipos de datos, en Python se usan los siguientes comandos:

* **int**: Da la parte entera de un número flotante, y también covierte cadenas que sean enteros.

In [ ]:
int(3.99)

3

In [ ]:
int('6')

6

* **float**: Convierte enteros y cadenas a números flotantes.

In [ ]:
float(12)

12.0

In [ ]:
float('4.23')

4.23

* **str**: Convierte números y cualquier otro objeto a una cadena.

In [ ]:
str(36.1)

'36.1'

In [ ]:
str([1,2,3])

'[1, 2, 3]'

* **list**: Convierte tuplas, diccionarios y cadenas a una lista.

In [ ]:
list((3, 2, 4))

[3, 2, 4]

In [ ]:
list('1457')

['1', '4', '5', '7']

Para los diccionarios, `list` sólo extrae las claves y no los valores

In [ ]:
list({'a': 12, 'b': 5})

['a', 'b']

* **dict**: Convierte una lista de listas, donde cada una tiene dos elementos, a un diccionario.

In [ ]:
dict([[10, 'a'], [15, 't']])

{10: 'a', 15: 't'}