1. Leer dataframe
2. shape
3. head
4. tail
5. nombre de columnas
6. tipo de datos de las columnas
7. cantidad de missing values df.isna().sum()/len(df)


Preguntas a reponder +4:
1. ¿las tiburones matan màs a gente mayor?

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

La idea de esta notebook es cargar data de kaggle. Hacernos las preguntas típicas de exploración de datos y responderlas con gráficos.
* Determinar si hay problemas en el dataset (Contrato de datos)
* Determinar si las preguntas que tenemos pueden
* Desarrollar una respuesta, hacer nuevas preguntas o refinar las que tenemos.
Dataset attrack puede ser descargado de [aquí](https://www.kaggle.com/teajay/global-shark-attacks/version/1)

In [5]:
# Load data
df = pd.read_csv("attracks.csv", encoding="latin-1")

In [6]:

# Display first 5 rows
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [7]:

# Display last 5 rows
df.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

In [8]:
# Display random sample of 5 rows
df.sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
2592,1986.07.00.a,Jul-86,1986,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,LaMercy,Spearfishing,Ludwig Gerricke,M,...,1.2 m [4'] dusky shark,"L. Gerricke, M. Levine, GSAF",1986.07.00.a-Gerricke.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1986.07.00.a,1986.07.00.a,3402,NaN,NaN
4563,1939.10.04,04-Oct-39,1939,Unprovoked,USA,Hawaii,"Kane'ohe Bay, Mokapu, O'ahu",Spearfishing & had just speared a ulua,James Akina,M,...,1.5 m [5'] shark,"G.H. Balazs & A.K.H. Kam; J. Borg, p.71; V.M. ...",1939.10.04-Akina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1939.10.04,1939.10.04,1430,NaN,NaN
5134,1912.05.04,04-May-12,1912,Invalid,SOUTH AFRICA,KwaZulu-Natal,Durban,NaN,arm recovered from hooked shark,M,...,NaN,"M. Levine, GSAF",1912.05.04-arm.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1912.05.04,1912.05.04,859,NaN,NaN
3172,1970.03.31,31-Mar-70,1970,Invalid,USA,Hawaii,"Waimea Bay, O'ahu",Body surfing,Ernie Reathaford,M,...,5.5 m [18'] shark seen in the vicinity,"J. Borg, p.74",1970.03.31-Reathaford.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.03.31,1970.03.31,2821,NaN,NaN
2004,1997.08.24,24-Aug-97,1997,Unprovoked,USA,California,"Clam Beach, near Eureka, Humboldt County",Surfing (sitting on his board),Scott Yerby,M,...,5 m [16.5'] white shark,"R. Collier, pp.159-160",1997.08.24-Yerby_Collier.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1997.08.24,1997.08.24,3989,NaN,NaN

In [9]:

# Display columns
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [10]:

# Display data types
df.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [11]:

# Display shape
df.shape

(5992, 24)

In [12]:
# Display info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Year                    5992 non-null   int64
 3   Type                    5992 non-null   object
 4   Country                 5949 non-null   object
 5   Area                    5590 non-null   object
 6   Location                5496 non-null   object
 7   Activity                5465 non-null   object
 8   Name                    5792 non-null   object
 9   Sex                     5425 non-null   object
 10  Age                     3311 non-null   object
 11  Injury                  5965 non-null   object
 12  Fatal (Y/N)             5973 non-null   object
 13  Time                    2779 non-null   object
 14  Species                 3058 non-null   object
 15  Investigator or Source  5977 non-null   object
 16  pdf                     5992 non-null   object
 17  href formula            5991 non-null   object
 18  href                    5989 non-null   object
 19  Case Number.1           5992 non-null   object
 20  Case Number.2           5992 non-null   object
 21  original order          5992 non-null   int64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [13]:

# Display descriptive statistics
df.describe()

              Year  original order
count  5992.000000     5992.000000
mean   1925.204606     2997.548899
std     286.473712     1729.860210
min       0.000000        2.000000
25%    1942.000000     1499.750000
50%    1975.000000     2997.500000
75%    2003.000000     4495.250000
max    2016.000000     5993.000000

In [14]:

# Display unique values
df.nunique()

Case Number               5976
Date                      5128
Year                       232
Type                         6
Country                    203
Area                       785
Location                  3929
Activity                  1492
Name                      5009
Sex                          6
Age                        151
Injury                    3595
Fatal (Y/N)                  8
Time                       357
Species                   1538
Investigator or Source    4752
pdf                       5981
href formula              5980
href                      5972
Case Number.1             5975
Case Number.2             5976
original order            5988
Unnamed: 22                  1
Unnamed: 23                  2
dtype: int64


# Questions to answer:
1. What is the most common type of attack?
2. What is the most common type of shark?
3. What is the most common activity?

In [15]:
# 1. What is the most common type of attack?
df["Type"].value_counts()

Unprovoked      4386
Provoked         557
Invalid          519
Sea Disaster     220
Boat             200
Boating          110
Name: Type, dtype: int64

In [17]:
# 2. What is the most common type of shark?
df["Species "].value_counts()

White shark                                                                                                                      161
Shark involvement not confirmed                                                                                                   80
Tiger shark                                                                                                                       68
Bull shark                                                                                                                        52
6' shark                                                                                                                          40
                                                                                                                                ...
Thought to involve a white, bull or tiger shark                                                                                    1
Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks                                                                      1
Shortfin mako shark, 3 m to 3.4 m [10' to 11']                                                                                     1
Shark involvement  questionable                                                                                                    1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: Species , Length: 1538, dtype: int64

In [18]:
# 3. What is the most common activity?
df["Activity"].value_counts()

Surfing                                                                                       904
Swimming                                                                                      819
Fishing                                                                                       414
Spearfishing                                                                                  321
Bathing                                                                                       153
                                                                                             ...
Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore      1
Dynamite fishing                                                                                1
Leaving the water                                                                               1
Playing with a frisbee in the shallows                                                          1
Wreck of  large double sailing canoe                                                            1
Name: Activity, Length: 1492, dtype: int64

In [19]:
## 2. Clean Data
# Display missing values
df.isna().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [20]:

# Drop columns
df.drop(columns=["Case Number", "Case Number.1", "Case Number.2", "original order", "Unnamed: 22", "Unnamed: 23"],
        inplace=True)

## 3. Explore Data and refine questions
# Preguntas más complejas
 1. Cuál es el tipo de ataque más común por especie de tiburón?
 2. Cuál es el tipo de ataque más común por actividad?
 3. Cuál es el tipo de ataque más común por año?
 4. Cuál es el tipo de ataque más común por país?
 5. Cuál es el tipo de ataque más común por estado?

In [22]:
df.groupby("Species ")["Type"].value_counts()

Species                                                         Type
                                                                Unprovoked    6
 "gummy" shark (Rhizoprionodon or Loxodon) 1.2 m [4']           Unprovoked    1
 1.5 m [5'] dusky shark                                         Provoked      1
 Blacktip shark, C. maculipinnis. 1.9 m to 2.1 m [6.5' to 7']   Unprovoked    1
 Bull shark, 1.2m                                               Unprovoked    1
                                                                             ..
unknown, possibly a white shark                                 Boating       1
whaler shark                                                    Provoked      1
white shark                                                     Provoked      1
small brown shark                                             Unprovoked    1
                                                                Unprovoked    2
Name: Type, Length: 1741, dtype: int64

In [23]:
# 2. Cuál es el tipo de ataque más común por actividad?
df.groupby("Activity")["Type"].value_counts()

Activity                                                                        Type
                                                                                Provoked        1
                                                                                Boat            1
 a canoe was pursuing a schooner that had forcibily abducted 5 young girls      Unprovoked      1
"Boat accident"                                                                 Unprovoked      1
"Climbing up to ship after repairing the stern in water"                        Unprovoked      1
                                                                                               ..
ship torpedoed 400 miles off the African coas. Man was clinging to hatch cover  Sea Disaster    1
small boat                                                                      Invalid         1
wreck of the State Oil Company ship Permina                                     Sea Disaster    1
yachting accident                                                               Sea Disaster    1
yachtsman in a zodiac                                                           Unprovoked      1
Name: Type, Length: 1629, dtype: int64

In [24]:

# 3. Cuál es el tipo de ataque más común por año?
df.groupby("Year")["Type"].value_counts()

Year  Type
0     Unprovoked      107
      Provoked          7
      Sea Disaster      6
      Boat              2
      Invalid           2
                     ...
2015  Provoked          6
2016  Unprovoked       81
      Provoked          9
      Boat              7
      Invalid           6
Name: Type, Length: 697, dtype: int64

In [25]:
# 4. Cuál es el tipo de ataque más común por país?
df.groupby("Country")["Type"].value_counts()

Country            Type
 PHILIPPINES       Sea Disaster    1
 TONGA             Unprovoked      2
                   Invalid         1
ADMIRALTY ISLANDS  Unprovoked      1
ALGERIA            Unprovoked      1
                                  ..
VIETNAM            Sea Disaster    1
WESTERN SAMOA      Unprovoked      1
YEMEN              Unprovoked      2
YEMEN              Unprovoked      5
                   Invalid         2
Name: Type, Length: 413, dtype: int64

In [26]:
# 5. Cuál es el tipo de ataque más común por estado?
df.groupby("Area")["Type"].value_counts()

Area                        Type
 Kikori River mouth         Provoked        1
 La Libertad                Provoked        1
 Lau Province               Unprovoked      1
 Loyalty Islands            Unprovoked      1
 Manila Bay                 Unprovoked      1
                                           ..
Zadar County                Unprovoked      2
Zambesi River               Sea Disaster    1
Zamboanga del Sur Province  Unprovoked      2
                            Provoked        1
dÉtang-Salé                Unprovoked      2
Name: Type, Length: 1048, dtype: int64