In [85]:
!which python

/home/fede/.pyenv/versions/default/bin/python

In [89]:
2+2

4

In [90]:
variable = 55

In [94]:
v2 = variable + 5

In [95]:
variable

55

In [96]:
v2

60

In [88]:
import pandas as pd

In [4]:
!pwd

/home/fede/code/UCEMA_2023/part-2/01-EDA

In [7]:
!ls -a

.	      01-basic-check.ipynb  04-tarea.ipynb  emails.csv
..	      02-spam-ham.ipynb     attracks.csv    spam.csv
00-pre.ipynb  03-campañas.ipynb     clase.ipynb

# Pandas

In [12]:
import pandas as pd

In [13]:
!ls ../data3

attracks_afuera.csv

In [97]:

df_raw = pd.read_csv("../data3/attracks_afuera.csv", encoding="latin-1")

In [102]:
df_raw["Date"].dtypes

dtype('O')

In [103]:
df = df_raw.copy()

In [106]:
df["Age"].unique()

array(['16', '36', '43', nan, '60s', '51', '50', '12', '9', '22', '25',
       '37', '20', '49', '15', '21', '40', '72', '18', '29', '31', '11',
       '10', '59', '42', '34', '35', '19', '6', '27', '64', '60', '23',
       '52', '13', '57', '48', '39', '24', '26', '69', '46', 'Teen', '41',
       '45', '65', '38', '71', '32', '58', '28', '54', '44', '14', '7',
       '62', '40s', '68', '47', '17', '30', '63', '70', '18 months', '53',
       '20s', '33', '30s', '50s', '8', '61', '55', 'teen', '66', '77',
       '74', '3', '56', '28 & 26', '5', '86', '18 or 20', '12 or 13',
       '46 & 34', '28, 23 & 30', 'Teens', '36 & 26', '8 or 10', '84',
       '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75', '33 or 37',
       'mid-30s', '73', '23 & 20', '7      &    31', '20?', "60's",
       '32 & 30', '16 to 18', '87', '67', 'Elderly', 'mid-20s', 'Ca. 33',
       '21 or 26', '>50', '18 to 22', 'adult', '9 & 12', '? & 19',
       '9 months', '25 to 35', '23 & 26', '1', '(adult)', '33 & 37',
       '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32',
       '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19',
       '33 & 26', '2 to 3 months', 'MAKE LINE GREEN', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       'M', '2½', '13 or 14'], dtype=object)

In [104]:
condicion = df["Age"] > 60 
df_mayores60 = df[condicion]
df_mayores60["Fatal"].value_counts(normalize=True)

TypeError: '>' not supported between instances of 'str' and 'int'

In [52]:
df.shape

(5992, 24)

In [35]:
len(df)

5992

In [62]:
df["Age"].unique()

array(['16', '36', '43', nan, '60s', '51', '50', '12', '9', '22', '25',
       '37', '20', '49', '15', '21', '40', '72', '18', '29', '31', '11',
       '10', '59', '42', '34', '35', '19', '6', '27', '64', '60', '23',
       '52', '13', '57', '48', '39', '24', '26', '69', '46', 'Teen', '41',
       '45', '65', '38', '71', '32', '58', '28', '54', '44', '14', '7',
       '62', '40s', '68', '47', '17', '30', '63', '70', '18 months', '53',
       '20s', '33', '30s', '50s', '8', '61', '55', 'teen', '66', '77',
       '74', '3', '56', '28 & 26', '5', '86', '18 or 20', '12 or 13',
       '46 & 34', '28, 23 & 30', 'Teens', '36 & 26', '8 or 10', '84',
       '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75', '33 or 37',
       'mid-30s', '73', '23 & 20', '7      &    31', '20?', "60's",
       '32 & 30', '16 to 18', '87', '67', 'Elderly', 'mid-20s', 'Ca. 33',
       '21 or 26', '>50', '18 to 22', 'adult', '9 & 12', '? & 19',
       '9 months', '25 to 35', '23 & 26', '1', '(adult)', '33 & 37',
       '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32',
       '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19',
       '33 & 26', '2 to 3 months', 'MAKE LINE GREEN', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       'M', '2½', '13 or 14'], dtype=object)

In [63]:
condicion = df["Age"] == '16'

In [67]:
df_subsample = df[condicion]

In [68]:
df_subsample.shape

(134, 24)

In [37]:
(df.isna().sum()/len(df)).sort_values()

Case Number               0.000000
Date                      0.000000
Year                      0.000000
Type                      0.000000
original order            0.000000
Case Number.2             0.000000
Case Number.1             0.000000
pdf                       0.000000
href formula              0.000167
href                      0.000501
Investigator or Source    0.002503
Fatal (Y/N)               0.003171
Injury                    0.004506
Country                   0.007176
Name                      0.033378
Area                      0.067089
Location                  0.082777
Activity                  0.087951
Sex                       0.094626
Age                       0.447430
Species                   0.489653
Time                      0.536215
Unnamed: 23               0.999666
Unnamed: 22               0.999833
dtype: float64

In [39]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [45]:
df['Fatal (Y/N)'].unique()

array(['N', 'Y', nan, 'UNKNOWN', ' N', 'F', 'N ', '#VALUE!', 'n'],
      dtype=object)

In [47]:
mask = df['Fatal (Y/N)'] != 'UNKNOWN'

In [49]:
df_2 = df[mask]

In [71]:
df_2['Fatal (Y/N)'] = df_2['Fatal (Y/N)'].replace("F","Y")

/tmp/ipykernel_409234/2348312870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['Fatal (Y/N)'] = df_2['Fatal (Y/N)'].replace("F","Y")

In [77]:
condicion_fatal = df_2['Fatal (Y/N)'] == 'Y'

In [83]:
df_2['Fatal (Y/N)'].unique()

array(['Y'], dtype=object)

In [82]:
df_2 = df_2[condicion_fatal]

In [84]:
df_2.Age.unique()

array(['50', '60', '29', '69', '45', '58', '35', '46', '65', '13', '43',
       '52', '22', '41', '17', '39', nan, '63', '38', '66', '28', '57',
       '19', '74', '20', '18', '15', '33', '42', '36', '40', '24', '68',
       '32', '25', '64', '21', '48', '49', '30', '14', '31', '16', '70',
       '37', '34', '51', '27', '53', '23', '44', '7', '26', '77', '84',
       '10', '75', '47', '23 & 20', '9', '55', '7      &    31', '61',
       '62', '16 to 18', '8', '67', '20s', 'mid-20s', 'Ca. 33', '12',
       '>50', '18 to 22', '59', '? & 19', '9 months', '23 & 26', '1',
       '(adult)', '5', '3', 'X', '"middle-age"', '13 or 18', '34 & 19',
       '33 & 26', '2 to 3 months', '56', '7 or 8', '78', 'F', '6',
       '36 & 23', 'Teen', '50s', '  ', 'A.M.', '54', '31 or 33', 'M',
       '11', '2½', 'young', '13 or 14'], dtype=object)

In [75]:
a = a +4

In [76]:
a

7

In [42]:
df['Fatal (Y/N)'].value_counts(normalize=True)

N          0.722418
Y          0.259836
UNKNOWN    0.015737
 N         0.001339
F          0.000167
N          0.000167
#VALUE!    0.000167
n          0.000167
Name: Fatal (Y/N), dtype: float64

In [ ]:
df.groupby('Fatal (Y/N)').agg()

In [44]:
df[['Fatal (Y/N)','Age']].value_counts()

Fatal (Y/N)  Age
N            17        110
             15        110
             19        109
             18        107
             16        107
                      ...
             9 & 12      1
             87          1
             86          1
             81          1
Y            young       1
Length: 235, dtype: int64

In [38]:
df.Age.unique()

array(['16', '36', '43', nan, '60s', '51', '50', '12', '9', '22', '25',
       '37', '20', '49', '15', '21', '40', '72', '18', '29', '31', '11',
       '10', '59', '42', '34', '35', '19', '6', '27', '64', '60', '23',
       '52', '13', '57', '48', '39', '24', '26', '69', '46', 'Teen', '41',
       '45', '65', '38', '71', '32', '58', '28', '54', '44', '14', '7',
       '62', '40s', '68', '47', '17', '30', '63', '70', '18 months', '53',
       '20s', '33', '30s', '50s', '8', '61', '55', 'teen', '66', '77',
       '74', '3', '56', '28 & 26', '5', '86', '18 or 20', '12 or 13',
       '46 & 34', '28, 23 & 30', 'Teens', '36 & 26', '8 or 10', '84',
       '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75', '33 or 37',
       'mid-30s', '73', '23 & 20', '7      &    31', '20?', "60's",
       '32 & 30', '16 to 18', '87', '67', 'Elderly', 'mid-20s', 'Ca. 33',
       '21 or 26', '>50', '18 to 22', 'adult', '9 & 12', '? & 19',
       '9 months', '25 to 35', '23 & 26', '1', '(adult)', '33 & 37',
       '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32',
       '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19',
       '33 & 26', '2 to 3 months', 'MAKE LINE GREEN', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       'M', '2½', '13 or 14'], dtype=object)

In [24]:
df.head(1).T

                                                                        0
Case Number                                                  2016.09.18.c
Date                                                            18-Sep-16
Year                                                                 2016
Type                                                           Unprovoked
Country                                                               USA
Area                                                              Florida
Location                                 New Smyrna Beach, Volusia County
Activity                                                          Surfing
Name                                                                 male
Sex                                                                     M
Age                                                                    16
Injury                                              Minor injury to thigh
Fatal (Y/N)                                                             N
Time                                                                13h00
Species                                                               NaN
Investigator or Source                        Orlando Sentinel, 9/19/2016
pdf                                                  2016.09.18.c-NSB.pdf
href formula            http://sharkattackfile.net/spreadsheets/pdf_di...
href                    http://sharkattackfile.net/spreadsheets/pdf_di...
Case Number.1                                                2016.09.18.c
Case Number.2                                                2016.09.18.c
original order                                                       5993
Unnamed: 22                                                           NaN
Unnamed: 23                                                           NaN

In [18]:
df.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

In [26]:
df.shape[0]

5992

In [27]:
df.shape[1]

24

In [28]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Year                    5992 non-null   int64
 3   Type                    5992 non-null   object
 4   Country                 5949 non-null   object
 5   Area                    5590 non-null   object
 6   Location                5496 non-null   object
 7   Activity                5465 non-null   object
 8   Name                    5792 non-null   object
 9   Sex                     5425 non-null   object
 10  Age                     3311 non-null   object
 11  Injury                  5965 non-null   object
 12  Fatal (Y/N)             5973 non-null   object
 13  Time                    2779 non-null   object
 14  Species                 3058 non-null   object
 15  Investigator or Source  5977 non-null   object
 16  pdf                     5992 non-null   object
 17  href formula            5991 non-null   object
 18  href                    5989 non-null   object
 19  Case Number.1           5992 non-null   object
 20  Case Number.2           5992 non-null   object
 21  original order          5992 non-null   int64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [30]:
df.describe()

              Year  original order
count  5992.000000     5992.000000
mean   1925.204606     2997.548899
std     286.473712     1729.860210
min       0.000000        2.000000
25%    1942.000000     1499.750000
50%    1975.000000     2997.500000
75%    2003.000000     4495.250000
max    2016.000000     5993.000000