In [49]:
import pandas as pd

In [59]:
tiburones3 = pd.read_csv("/Users/lolonastri/Desktop/POO_UCEMA/trabajos_practicos/trabajo_practico_0/sharks/attracks.csv", encoding= "latin-1")
tiburones3 = tiburones3.drop(columns = ["Unnamed: 22", "Unnamed: 23", "pdf", "href formula", "href", "Case Number.1", "Case Number.2", "original order", "Case Number", "Investigator or Source", "Location", "Name", "Time"])
tiburones3

,Date,Year,Type,Country,Area,Activity,Sex,Age,Injury,Fatal (Y/N),Species
0,18-Sep-16,2016,Unprovoked,USA,Florida,Surfing,M,16,Minor injury to thigh,N,NaN
1,18-Sep-16,2016,Unprovoked,USA,Florida,Surfing,M,36,Lacerations to hands,N,NaN
2,18-Sep-16,2016,Unprovoked,USA,Florida,Surfing,M,43,Lacerations to lower leg,N,NaN
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Surfing,M,NaN,Struck by fin on chest & leg,N,NaN
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Surfing,M,NaN,No injury: Knocked off board by shark,N,2 m shark
...,...,...,...,...,...,...,...,...,...,...,...
5987,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Diving,M,NaN,FATAL,Y,NaN
5988,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,M,NaN,FATAL,Y,NaN
5989,1900-1905,0,Unprovoked,USA,North Carolina,Swimming,M,NaN,FATAL,Y,NaN
5990,1883-1889,0,Unprovoked,PANAMA,NaN,NaN,M,NaN,FATAL,Y,NaN
5991,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN

In [51]:
tiburones3.columns.values

array(['Date', 'Year', 'Type', 'Country', 'Area', 'Activity', 'Sex ',
       'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species '], dtype=object)

___

# 3) Â¿QuÃ© proporciÃ³n en porcentaje de los que murieron en USA,Florida buceando eran hombres? Â¿Y nadando?

In [52]:
# tiburones3[(tiburones3["Fatal (Y/N)"] == "Y") & (tiburones3["Country"] == "USA") & (tiburones3["Area"] == "Florida") & (tiburones3["Activity"] == "Diving") & (tiburones3["Sex "] == "M")]

In [53]:
# tiburones3[(tiburones3["Fatal (Y/N)"] == "Y") & (tiburones3["Country"] == "USA") & (tiburones3["Area"] == "Florida") & (tiburones3["Activity"] == "Swimming") & (tiburones3["Sex "] == "M")]

In [54]:
hombres_en_florida = tiburones3["Sex "][(tiburones3["Fatal (Y/N)"] == "Y") & (tiburones3["Country"] == "USA") & (tiburones3["Area"] == "Florida") & (tiburones3["Sex "] == "M")].count() # Los que murieron en Florida que eran hombres
hombres_en_florida

55

In [55]:
hombres_fatales_diving_florida = tiburones3["Sex "][(tiburones3["Fatal (Y/N)"] == "Y") & (tiburones3["Country"] == "USA") & (tiburones3["Area"] == "Florida") & (tiburones3["Activity"] == "Diving") & (tiburones3["Sex "] == "M")].count() # Filtro por actividad 'Diving'
hombres_fatales_diving_florida

3

In [56]:
hombres_fatales_swimming_florida = tiburones3["Sex "][(tiburones3["Fatal (Y/N)"] == "Y") & (tiburones3["Country"] == "USA") & (tiburones3["Area"] == "Florida") & (tiburones3["Activity"] == "Swimming") & (tiburones3["Sex "] == "M")].count() # Filtro por actividad 'Swimming'
hombres_fatales_swimming_florida

13

In [57]:
(hombres_fatales_diving_florida/hombres_en_florida)*100

5.454545454545454

In [58]:
(hombres_fatales_swimming_florida/hombres_en_florida)*100

23.636363636363637

___

    âž¢ ConclusiÃ³n:
      
    MuriÃ³ el 5,45% de hombres buceando en USA, Florida y el 23,63% de hombres nadando en USA, Florida. PodrÃ­amos asumir que los tiburones se mueven mayormente por la superficie del agua que por sus profundidades. MÃ¡s allÃ¡ de esto, nosotros creemos que haber hecho un muestreo de 55 hombres no es representativo para sacar una conclusiÃ³n general.

___

    âž¢ Con respecto a la pregunta nÃºmero 3, pudimos identificar 2 tipos de sesgos distintos:

    1) Sesgo de la muestra: La conclusiÃ³n que sacamos se basa en un subconjunto de 55 hombres, lo que podrÃ­a no ser representativo de todas las situaciones de buceo y nataciÃ³n en USA, Florida para poder sacar una conclusiÃ³n general.

    2) Sesgo de registro: Los informes pueden estar sesgados hacia ciertos tipos de actividades o gÃ©neros, lo que podrÃ­a influir en la proporciÃ³n observada. Por ejemplo los informes de ataques de tiburones podrÃ­an mostrar un sesgo en cuanto a quiÃ©nes se les da mÃ¡s cobertura mediÃ¡tica. Si los informes tienden a centrarse en vÃ­ctimas de gÃ©nero masculino o femenino por alguna razÃ³n, la proporciÃ³n observada podrÃ­a no reflejar la proporciÃ³n real de gÃ©neros involucrados en los ataques.