# 5. Ingeniería social:
- Dataset: isla.csv

Eres asesor de un gobernante en una isla del Caribe preocupado por el rápido crecimiento de la población. Se te ha pedido que realices un análisis de datos para entender las implicaciones de una política que limita el número de hijos que una mujer puede tener, basándose en el número de hijos que tuvo su madre.

1. Crear la funcion policy_function que es la politica del gobierno. Seria tener 1 hijo o uno menos que su madre.
2. Crear una nueva columnanum_children_next_gen  que sea resultado de aplicar esa funcion
3. Ahora implementar este codigo

 ```
# For each mother's family, replicate the row by the number of children she had
# Then, assign the number of children each child in the next generation can have
rows = []
for idx, row in df_mothers.iterrows():
    num_children = row['num_children_mother']
    num_children_next_gen = row['num_children_next_gen']
    for _ in range(num_children):
        rows.append([row['family_id'], row['mother_id'], num_children, num_children_next_gen])
```

4. Crear un dataframe que tome como data las rows del loop anterior y tenga las siguientes columnas ['family_id', 'mother_id', 'num_children_mother', 'num_children_next_gen']
5. Análisis Descriptivo: Realiza un análisis descriptivo del conjunto de datos. ¿Cuál es el tamaño promedio de la familia según las madres y según los hijos?
6. Que sucede con la poblacion inicial de la madre y de los hijos? Crece o decrece? cuanta poblacion mas o cuanta menos?
7. Fue la política exitosa?

In [30]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [31]:
df_isla = pd.read_csv('/Users/lolonastri/Desktop/POO_UCEMA/parciales/primer_parcial/ejercicio5/isla.csv')
df_isla

     Unnamed: 0  family_id  mother_id  num_children_mother
0             0          1          1                    9
1             1          2          2                    1
2             2          3          3                    4
3             3          4          4                    5
4             4          5          5                    9
..          ...        ...        ...                  ...
995         995        996        996                    1
996         996        997        997                    2
997         997        998        998                    5
998         998        999        999                    6
999         999       1000       1000                    4

[1000 rows x 4 columns]

In [32]:
df_isla.isnull().sum()

Unnamed: 0             0
family_id              0
mother_id              0
num_children_mother    0
dtype: int64

In [33]:
df_isla.dtypes

Unnamed: 0             int64
family_id              int64
mother_id              int64
num_children_mother    int64
dtype: object

___

# 1) Crear la funcion policy_function que es la politica del gobierno. Seria tener 1 hijo o uno menos que su madre (num_children_mother).

# 2) Crear una nueva columna num_children_next_gen  que sea resultado de aplicar esa funcion

In [34]:
def policy_function(row):
    if row['num_children_mother'] == 1:
        return 1
    else:
        return row['num_children_mother'] - 1

df_isla['num_children_next_gen'] = df_isla.apply(policy_function, axis=1)

In [35]:
df_isla

,Unnamed: 0,family_id,mother_id,num_children_mother,num_children_next_gen
0,0,1,1,9,8
1,1,2,2,1,1
2,2,3,3,4,3
3,3,4,4,5,4
4,4,5,5,9,8
...,...,...,...,...,...
995,995,996,996,1,1
996,996,997,997,2,1
997,997,998,998,5,4
998,998,999,999,6,5
999,999,1000,1000,4,3

___

# 3) Ahora implementar este codigo

 ```
# For each mother's family, replicate the row by the number of children she had
# Then, assign the number of children each child in the next generation can have
rows = []
for idx, row in df_mothers.iterrows():
    num_children = row['num_children_mother']
    num_children_next_gen = row['num_children_next_gen']
    for _ in range(num_children):
        rows.append([row['family_id'], row['mother_id'], num_children, num_children_next_gen])
```

In [36]:
# For each mother's family, replicate the row by the number of children she had
# Then, assign the number of children each child in the next generation can have
rows = []
for idx, row in df_isla.iterrows():
    num_children = row['num_children_mother']
    num_children_next_gen = row['num_children_next_gen']
    for _ in range(num_children):
        rows.append([row['family_id'], row['mother_id'], num_children, num_children_next_gen])

___

# 4) Crear un dataframe que tome como data las rows del loop anterior y tenga las siguientes columnas ['family_id', 'mother_id', 'num_children_mother', 'num_children_next_gen']

In [37]:
df_isla2 = pd.DataFrame(rows, columns=['family_id', 'mother_id', 'num_children_mother', 'num_children_next_gen'])

In [38]:
df_isla2

      family_id  mother_id  num_children_mother  num_children_next_gen
0             1          1                    9                      8
1             1          1                    9                      8
2             1          1                    9                      8
3             1          1                    9                      8
4             1          1                    9                      8
...         ...        ...                  ...                    ...
5328        999        999                    6                      5
5329       1000       1000                    4                      3
5330       1000       1000                    4                      3
5331       1000       1000                    4                      3
5332       1000       1000                    4                      3

[5333 rows x 4 columns]

___

# 5) Análisis Descriptivo: Realiza un análisis descriptivo del conjunto de datos. ¿Cuál es el tamaño promedio de la familia según las madres y según los hijos?

In [46]:
df_isla["num_children_mother"].mean()

5.333

In [47]:
df_isla2["num_children_next_gen"].mean() # como estaria la familia a futuro (por eso lo hago sobre el segundo dataset)

5.906056628539284

___

# 6) ¿Que sucede con la poblacion inicial de la madre y de los hijos? Crece o decrece? cuanta poblacion mas o cuanta menos?

#### La población de la madre va a ser mayor que la de los hijos, ya que los mismos van a poder tener n-1 cantidad de hijos que sus madres, exceptuando a aquellos que su valor es 0, los cuales van a tener 1 hijo. Por lo tanto la población de los hijos va a decrecer.

In [41]:
df_isla2["num_children_mother"].sum()

36723

In [42]:
df_isla2["num_children_next_gen"].sum()

31497

In [43]:
diferencia_de_poblacion_inicial = df_isla2["num_children_mother"].sum() - df_isla2["num_children_next_gen"].sum()
print("La diferencia de poblacion inicial es de:", diferencia_de_poblacion_inicial)

La diferencia de poblacion inicial es de: 5226

___

# 7) ¿Fue la política exitosa?

#### La política fue exitosa, ya que la población de los hijos decreció.