# 3) Startups:

##### Fecha entrega: 5/11/2023.
##### El dataset de startups contiene variables como gastos en investigación y desarrollo (I+D), costos administrativos, gastos en marketing, ubicación geográfica y beneficios netos.
##### Este tipo de datos es esencial para entender el rendimiento financiero y operativo de una startup, lo cual es crítico para la toma de decisiones tanto para los inversionistas como para la administración de la empresa.

## a. Análisis Exploratorio de Datos (EDA) 
#### ¿Qué conclusiones puede sacar con respecto a las distribuciones de las variables numéricas y las relaciones entre ellas?

## b. Modelo de Regresión Lineal para Predecir Beneficio Neto.

## c. ¿Cual es la intuicion detrás de la formula de la regresion resultante?

## d. ¿Cual es el error promedio? ¿Y el error elevado al cuadrado? ¿Que significa?

## e. Analice del Sector de la Industria en el Beneficio Neto.

## f. ¿Cual es la relacion entre las series y el profit? ¿Es importante hay alguna particularidad? (Hint)

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df_startups = pd.read_csv("/Users/lolonastri/Desktop/POO_UCEMA/trabajos_practicos/tp_datos/3-startups/startups.csv")
df_startups.head()

,,RnD_Expenditure,Admin_Costs,Marketing_Expenditure,Location,Net_Profit,Industry_Sector,Profit,Employee_Count,Investment_Round,Operational_Cost
0,0,165349.20,136897.80,471784.10,New York,192261.83,Energy,227095.722346,289,Series A,608681.90
1,1,162597.70,151377.59,443898.53,California,191792.06,Tech,224711.757208,217,Series B,595276.12
2,2,153441.51,101145.55,407934.54,Florida,191050.39,Finance,222717.429984,407,Series C,509080.09
3,3,144372.41,118671.85,383199.62,New York,182901.99,Finance,214017.365199,383,Series A,501871.47
4,4,142107.34,91391.77,366168.42,Florida,166187.94,Finance,196476.965990,351,Series B,457560.19

___

## a. Análisis Exploratorio de Datos (EDA) 
#### ¿Qué conclusiones puede sacar con respecto a las distribuciones de las variables numéricas y las relaciones entre ellas?

## Validación de la data

In [18]:
df_startups.rename(columns=lambda x: x.strip(), inplace=True) # Remuevo espacios de las columnas.

In [19]:
from data_validation import validate_columns
validate_columns(df_startups)

,Unique_Values,Num_Unique_Values,Num_Null_Values,%_Null_Values,Sample_Unique_Values
,NaN,70.0,0,0.0,"[66, 5, 49, 62, 3]"
RnD_Expenditure,NaN,70.0,0,0.0,"[83460.9604734254, 131876.9, 0.0, 40890.449946..."
Admin_Costs,NaN,70.0,0,0.0,"[102975.13915223756, 99814.71, 116983.8, 14368..."
Marketing_Expenditure,NaN,70.0,0,0.0,"[287058.8027460065, 362861.36, 45173.06, 10581..."
Location,3,70,0,0.0,"[New York , New York , California , Florid..."
Net_Profit,NaN,70.0,0,0.0,"[-21313.506761656205, 156991.12, 14681.4, 5702..."
Industry_Sector,5,70,0,0.0,"[Healthcare , Healthcare , Energy ..."
Profit,NaN,70.0,0,0.0,"[-14885.847168987042, 182389.2221201236, 14468..."
Employee_Count,NaN,70.0,0,0.0,"[430, 58, 158, 460, 383]"
Investment_Round,5,70,0,0.0,"[Seed , Series A , Seed ..."
Operational_Cost,NaN,70.0,0,0.0,"[390033.9418982441, 462676.07, 162156.86, 2494..."

In [20]:
(df_startups.isna().sum()/len(df_startups)) # porcentaje de nulos

                         0.0
RnD_Expenditure          0.0
Admin_Costs              0.0
Marketing_Expenditure    0.0
Location                 0.0
Net_Profit               0.0
Industry_Sector          0.0
Profit                   0.0
Employee_Count           0.0
Investment_Round         0.0
Operational_Cost         0.0
dtype: float64

In [25]:
df_startups["RnD_Expenditure"].value_counts(normalize=True)

RnD_Expenditure
0.000000         0.028571
165349.200000    0.014286
22177.740000     0.014286
144064.898688    0.014286
83404.400941     0.014286
                   ...
65605.480000     0.014286
61994.480000     0.014286
61136.380000     0.014286
63408.860000     0.014286
39620.297817     0.014286
Name: proportion, Length: 69, dtype: float64

In [27]:
df_startups

,,RnD_Expenditure,Admin_Costs,Marketing_Expenditure,Location,Net_Profit,Industry_Sector,Profit,Employee_Count,Investment_Round,Operational_Cost
0,0,165349.200000,136897.800000,471784.100000,New York,192261.830000,Energy,227095.722346,289,Series A,608681.900000
1,1,162597.700000,151377.590000,443898.530000,California,191792.060000,Tech,224711.757208,217,Series B,595276.120000
2,2,153441.510000,101145.550000,407934.540000,Florida,191050.390000,Finance,222717.429984,407,Series C,509080.090000
3,3,144372.410000,118671.850000,383199.620000,New York,182901.990000,Finance,214017.365199,383,Series A,501871.470000
4,4,142107.340000,91391.770000,366168.420000,Florida,166187.940000,Finance,196476.965990,351,Series B,457560.190000
...,...,...,...,...,...,...,...,...,...,...,...
65,65,134093.502036,47327.344651,26681.272559,California,105423.930052,Tech,120378.804381,335,Seed,74008.617209
66,66,83460.960473,102975.139152,287058.802746,New York,-21313.506762,Healthcare,-14885.847169,430,Seed,390033.941898
67,67,111737.965689,125193.850785,73364.287453,New York,187372.314677,Finance,197551.192890,367,Seed,198558.138238
68,68,28077.387719,2743.241602,294652.768452,New York,62478.033370,Healthcare,64877.719983,258,Seed,297396.010053
69,69,39620.297817,112521.647242,349879.180010,Florida,94597.403597,Healthcare,98661.735576,31,Seed,462400.827252

___

## Veo los tipos de datos con dtypes

In [28]:
df_startups.dtypes

                           int64
RnD_Expenditure          float64
Admin_Costs              float64
Marketing_Expenditure    float64
Location                  object
Net_Profit               float64
Industry_Sector           object
Profit                   float64
Employee_Count             int64
Investment_Round          object
Operational_Cost         float64
dtype: object

### Se puede observar que hay una correlación positiva entre RnD_Expenditure, Marketing_Expenditure, y Net_Profit.
### Se puede observar que hay una correlación negativa entre Admin_Cos y Net_Profit.
### Se puede observar que hay una correlación positiva entre Employee_Count y RnD_Expenditure, Marketing_Expenditure, y Operational_Cost.
### Se puede observar que hay una correlación positiva entre Investment_Round y Net_Profit.