# 2. Datasets: Lectura, y eda simple
De los siguientes dataset, se deben cargar en el notebook de python, determinar la cantidad de filas, cantidad de columnas, nombre y tipo de columnas, información estadística básica (describe), faltantes y outliers.

- bitcoin_price_dataset_2015_2023.csv
- mLabel_tweets.tsv
- Clean_Top_1000_Youtube_df - youtubers_df.txt
- Dry_Bean_Dataset.xlsx

In [32]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [33]:
ruta = '/Users/lolonastri/Desktop/POO_UCEMA/parciales/primer_parcial/ejercicio2/Clean_Top_1000_Youtube_df - youtubers_df.txt'
df_cleantop100 = pd.read_csv(ruta, sep='\t', encoding='utf-8')
df_cleantop100

,Rank,Username,Categories,Suscribers,Country,Visits,Likes,Comments,Links
0,1,tseries,Entertainment,"249,500,000",IN,"86,200","2,700",78,http://youtube.com/channel/UCq-Fj5jknLsUf-MWSy...
1,2,MrBeast,Entertainment,"183,500,000",US,"117,400,000","5,300,000","18,500",http://youtube.com/channel/UCX6OQ3DkcsbYNE6H8u...
2,3,CoComelon,Music,"165,500,000",US,"7,000,000","24,700",0,http://youtube.com/channel/UCbCmjCuTUZos6Inko4...
3,4,SETIndia,Entertainment,"162,600,000",IN,"15,600",166,9,http://youtube.com/channel/UCpEhnqL0y41EpW2TvW...
4,5,KidsDianaShow,Hobby,"113,500,000",US,"3,900,000","12,400",0,http://youtube.com/channel/UCk8GzjMOrta8yxDcKf...
...,...,...,...,...,...,...,...,...,...
995,996,hamzymukbang,Food,"11,700,000",KR,"397,400","14,000",124,http://youtube.com/channel/UCPKNKldggioffXPkSm...
996,997,Adaahqueen,Film,"11,700,000",IN,"1,100,000","92,500",164,http://youtube.com/channel/UCk3fFpqI5kDMf__mUP...
997,998,LittleAngelIndonesia,Entertainment,"11,700,000",ID,"211,400",745,0,http://youtube.com/channel/UCdrHrQf0o0TO8YDntX...
998,999,PenMultiplex,Film,"11,700,000",IN,"14,000",81,1,http://youtube.com/channel/UCObyBrdrtQ20BU9PxH...
999,1000,OneindiaHindi,Society,"11,700,000",IN,"2,200",31,1,http://youtube.com/channel/UCOjgc1p2hJ4GZi6pQQ...

___

In [34]:
# Cantidad de filas

print("El dataset tiene " + str(df_cleantop100.shape[0])+ " filas.")

El dataset tiene 1000 filas.

In [35]:
# Cantidad de columnas

print("El dataset tiene " + str(df_cleantop100.shape[1])+ " columnas.")

El dataset tiene 9 columnas.

In [36]:
# Nombre de columnas

df_cleantop100.columns

Index(['Rank', 'Username', 'Categories', 'Suscribers', 'Country', 'Visits',
       'Likes', 'Comments', 'Links'],
      dtype='object')

In [37]:
# Tipo de columnas

df_cleantop100.dtypes

Rank           int64
Username      object
Categories    object
Suscribers    object
Country       object
Visits        object
Likes         object
Comments      object
Links         object
dtype: object

In [38]:
# Información básica

df_cleantop100.describe()

              Rank
count  1000.000000
mean    500.500000
std     288.819436
min       1.000000
25%     250.750000
50%     500.500000
75%     750.250000
max    1000.000000

In [39]:
# Valores faltantes

df_cleantop100.isnull().sum()

Rank          0
Username      0
Categories    0
Suscribers    0
Country       0
Visits        0
Likes         0
Comments      0
Links         0
dtype: int64

In [40]:
# Porcentaje de faltantes

(df_cleantop100.isnull().sum()/len(df_cleantop100))

Rank          0.0
Username      0.0
Categories    0.0
Suscribers    0.0
Country       0.0
Visits        0.0
Likes         0.0
Comments      0.0
Links         0.0
dtype: float64

# Valores outliers