# 2. Datasets: Lectura, y eda simple
De los siguientes dataset, se deben cargar en el notebook de python, determinar la cantidad de filas, cantidad de columnas, nombre y tipo de columnas, información estadística básica (describe), faltantes y outliers.

- bitcoin_price_dataset_2015_2023.csv
- mLabel_tweets.tsv
- Clean_Top_1000_Youtube_df - youtubers_df.txt
- Dry_Bean_Dataset.xlsx

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import openpyxl

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
df_tweets = pd.read_csv('/Users/lolonastri/Desktop/POO_UCEMA/parciales/primer_parcial/ejercicio2/mLabel_tweets.tsv', sep='\t', encoding='latin-1')
df_tweets

,ID,tweet,labels,Unnamed: 3,Unnamed: 4
0,1296010336907038720t,@cath__kath AstraZeneca is made with the kidne...,ingredients,NaN,NaN
1,1336808189677940736t,It begins. Please find safe alternatives to th...,side-effect,NaN,NaN
2,1329488407307956231t,"@PaolaQP1231 Well, I mean congratulations Covi...",side-effect,NaN,NaN
3,1364194604459900934t,@BorisJohnson for those of us that do not wish...,mandatory,NaN,NaN
4,1375938799247765515t,She has been trying to speak out: writing lett...,side-effect rushed,NaN,NaN
...,...,...,...,...,...
9915,1388469392866938880t,Former Pfizer Chief Scientific Officer on Expe...,side-effect,NaN,NaN
9916,1352957607393300485t,@garygilligan Not what the manufacturer's are ...,pharma,NaN,NaN
9917,1357484621542268928t,//That's a complete no for now on the Oxford/A...,none,NaN,NaN
9918,1371121610057388037t,Opinion: Vaccine side effects..- possible to h...,side-effect,NaN,NaN
9919,1432823808742903817t,@BorisJohnson resign now before you destroy th...,political,NaN,NaN

___

In [3]:
# Cantidad de filas

print("El dataset tiene " + str(df_tweets.shape[0])+ " filas.")

El dataset tiene 9920 filas.

In [4]:
# Cantidad de columnas

print("El dataset tiene " + str(df_tweets.shape[1])+ " columnas.")

El dataset tiene 5 columnas.

In [5]:
# Nombre de columnas

df_tweets.columns

Index(['ID', 'tweet', 'labels', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [6]:
# Tipo de columnas

df_tweets.dtypes

ID            object
tweet         object
labels        object
Unnamed: 3    object
Unnamed: 4    object
dtype: object

In [7]:
# Información básica

df_tweets.describe()

,ID,tweet,labels,Unnamed: 3,Unnamed: 4
count,9920,9920,9778,1,1
unique,9920,9920,287,1,1
top,1296010336907038720t,@cath__kath AstraZeneca is made with the kidne...,side-effect,A COVID-19 vaccine isnât necessary,Go back to living a normal life. Says a world...
freq,1,1,2844,1,1

In [8]:
# Valores faltantes

df_tweets.isnull().sum()

ID               0
tweet            0
labels         142
Unnamed: 3    9919
Unnamed: 4    9919
dtype: int64

In [9]:
# Porcentaje de faltantes

(df_tweets.isnull().sum()/len(df_tweets))

ID            0.000000
tweet         0.000000
labels        0.014315
Unnamed: 3    0.999899
Unnamed: 4    0.999899
dtype: float64

# Valores outliers

#### Se procede a eliminar las columnas (Unnamed 3 y 4) con valores nulos de la tabla ya que no me estaban aportando ningun tipo de informacion para el analisis y ademas casi el 100% de sus valores eran nulos.